div.left-menu-container([ngClass]='navigationCollapsed == true ? "collapsed" : "expanded"')
  mat-accordion([hideToggle]='true')
    mat-expansion-panel#dmsMenu.left-menu(
    #dmsMenu,
    [expanded]='menus.DMS.expanded')
      div([fxLayout]='"row"', [fxLayoutAlign]='"space-around center"')
        button.left-menu__submenu(mat-button, [matMenuTriggerFor]='menu1') MENU
          mat-menu(#menu1='matMenu')
            ng-template(matMenuContent)
              button(mat-menu-item) Login
              button(mat-menu-item) Register
        button.left-menu__submenu(mat-button, [matMenuTriggerFor]='menu2') ACCOUNT
          mat-menu(#menu2='matMenu')
            ng-template(matMenuContent)
              button(mat-menu-item, routerLink='movements') Movements
              button(mat-menu-item, routerLink='transactions') Transactions
