div([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
  h1.title {{ title }}!
  div.container([fxLayout]='"row"', [fxLayoutAlign]='"space-around center"')
    h1.title Registration
      mat-card-content
        img.image(src='assets/slmndrgreen.png', width= '70px')
    h1.title {{ title }}!
  div.container([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
    div.container([fxLayoutGap]='"row"', [fxLayoutAlign]='"space-around center"')
      div.container([fxLayout]='"column"', [fxLayoutAlign]='"space-evenly center"')
        form.form([formGroup]='registrationGroup', (ngSubmit)='Registration()')
          mat-form-field
            input(matInput, color='primary', placeholder='Email', formControlName='Email')
          mat-form-field
            input(matInput, color='primary', placeholder='User ID', formControlName='userId')
          mat-form-field
            input(matInput, color='primary', placeholder='Username', formControlName='username')
          mat-form-field
            input(matInput, color='primary', placeholder='Password', formControlName='password')
      div.container([fxLayout]='"column"', [fxLayoutAlign]='"space-evenly center"')
        form.form([formGroup]='registrationGroup', (ngSubmit)='Registration()')
          mat-form-field
            input(matInput, color='primary', placeholder='Bank Account', formControlName='telephone')
          mat-form-field
            input(matInput, color='primary', placeholder='Telephone', formControlName='telephone')
          mat-form-field
            input(matInput, color='primary', placeholder='Address', formControlName='address')
          mat-form-field
            input(matInput, color='primary', placeholder='Confirm your Password', formControlName='passwordConfirmation')
  div([fxLayout]='"row"', [fxLayoutAlign]='"space-between center"')
    button.btn-primary(mat-raised-button, color='primary', [disabled]='registrationGroup.invalid', routerLink='profile') Register
  div([fxLayout]='"row"', [fxLayoutAlign]='"space-between center"', placeholder='')

