.page
  width: 800px

.profile
  font-size: 40px
  font-family: 'Courier New', sans-serif
  color: green
  alignment: center

.form
  width: 250px
  align-content: center

mat-form-field
    display: block

.photo
  position: relative
  alignment: left

.btn-primary
  background-color: darkslategray

.title
  font-size: 20px
  font-family: 'Courier New', sans-serif
  color: green
  text-shadow: 3px 3px 3px black


.container
  height: 100%

.image
  position: relative
  top: 20px
  left: 20px

