.page
  width: 900px

.form
  width: 300px

  mat-form-field
    display: block

.btn-primary
  background-color: darkslategray

.title
  font-size: 40px
  font-family: 'Courier New', sans-serif
  color: green
  text-shadow: 5px 5px 5px black

.container
  height: 100%

.image
  position: relative
  top: 20px
  left: 20px
