div([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
  h1.title Welcome to
    mat-card-content
      img.image(src='assets/slmndrgreen.png', width= '70px')
  h1.title {{ title }}!

  div.form-container([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
    mat-card
      div.form-title Login
      mat-card-content
        form.form([formGroup]='loginGroup', (ngSubmit)='login()')
          mat-form-field
            input(matInput, color='primary', placeholder='Username', formControlName='username')
          mat-form-field
            input(matInput, placeholder='Password', formControlName='password', type='password')

          mat-error([hidden]='false') Login error

          div([fxLayout]='"row"', [fxLayoutAlign]='"space-between center"')
            a(mat-button, color='primary', routerLink='register') Register
            button.btn-primary(mat-raised-button, color='primary', (click)="login()") Log in
