form.form([formGroup]='loginGroup', (ngSubmit)='login()')
  mat-form-field
    input(matInput, color='primary', placeholder='Username', formControlName='username')
  mat-form-field
    input(matInput, placeholder='Password', formControlName='password')
  div([fxLayout]='"row"', [fxLayoutAlign]='"space-between center"')
    a(mat-button, color='primary', routerLink='.') Register
    button.btn-primary(mat-raised-button, color='primary', [disabled]='loginGroup.invalid') Log in
