div.container([fxLayout]='"column"', [fxLayoutAlign]='"center center"')
  h1.title Welcome to
    mat-card-content
      img.image(src='assets/slmndrgreen.png', width='70px')
  h1.title {{ title }}!
  app-login

router-outlet
