div.left-nav-side-pane([ngClass]='{ "collapsed": navigationCollapsed }',[fxLayout]='"row"', [fxLayoutAlign]='"space-around stretch"')

  div.left-nav-toolbar

  app-left-menu([menus]='menus')

  button.left-toolbar-icon(mat-button, [matMenuTriggerFor]='menu3', routerLink='/profile')
    mat-menu(#menu3='matMenu')
      ng-template(matMenuContent)
        button(mat-menu-item, routerLink='/profile') Profile
        button(mat-menu-item, (click)='signOut()') Log Out

  mat-divider.left-nav-divider
