div([fxLayout]='"row"', [fxLayoutAlign]='"end center"')
  a.photo(mat-button, color='primary', routerLink='/') Log Out
div([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
  h1.profile Hello
  div.container([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
    h1.profile {{ user.name }}
      mat-card-header.profile([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
        img.photo(src='assets/slmndrgreen.png', width= '70px')

div([fxLayout]='"row"', [fxLayoutAlign]='"space-around center"')
  mat-card-header.profile([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"') Your Data User:
    mat-card-content.form
      form.form([formGroup]='profileGroup', (ngSubmit)='edit()')
        mat-form-field
          input(matInput, color='primary', placeholder='Name', formControlName='name')
        mat-form-field
          input(matInput, color='primary', placeholder='Last name', formControlName='lastName')
        mat-form-field
          input(matInput, color='primary', placeholder='email', formControlName='email')
        mat-form-field
          input(matInput, color='primary', placeholder='Identification Type', formControlName='identificationType')
        mat-form-field
          input(matInput, color='primary', placeholder='Identification', formControlName='identification')
        mat-form-field
          input(matInput, color='primary', placeholder='Phone', formControlName='phone')
        mat-form-field
          input(matInput, color='primary', placeholder='Address', formControlName='address')
        mat-form-field
          input(matInput, color='primary', placeholder='Country', formControlName='country')
        mat-form-field
          input(matInput, color='primary', placeholder='Gender', formControlName='gender')
        div([fxLayout]='"row"', [fxLayoutAlign]='"space-between center"')
          button.btn-snd(mat-raised-button, color='primary') Edit

  mat-card-header.profile([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"') Your Account:
    mat-card-content.form
      form.form([formGroup]='accountGroup')
        mat-form-field
          input(matInput, color='primary', placeholder='Account', formControlName='account')
        a.letter(mat-button, color='primary', routerLink='movements') Movements
        a.letter(mat-button, color='primary', routerLink='transactions') Transactions
