button.btn-primary(mat-raised-button, color='primary', routerLink='profile') < Profile
div([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
  h1.profile Hello
  div.container([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
    h1.profile {{ name }}
      mat-card-header.profile([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"')
        img.photo(src='assets/slmndrgreen.png', width= '70px')

div([fxLayout]='"row"', [fxLayoutAlign]='"space-around center"')
  mat-card-header.profile([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"') Do a transaction:
    mat-card-content.form
      form.form([formGroup]='transactionsGroup', (ngSubmit)='doTransaction()')
        mat-form-field
          input(matInput, color='primary', placeholder='Type', formControlName='typeMovement')
        mat-form-field
          input(matInput, color='primary', placeholder='Value', formControlName='valueMovement')
        mat-form-field
          input(matInput, color='primary', placeholder='Date', formControlName='dateMovement')
        mat-form-field
          input(matInput, color='primary', placeholder='Third Party Account', formControlName='tpAccount')
        mat-form-field
          input(matInput, color='primary', placeholder='Third Party Identification', formControlName='tpIdentification')
        mat-form-field
          input(matInput, color='primary', placeholder='Third Party Name', formControlName='tpName')
        div([fxLayout]='"row"', [fxLayoutAlign]='"start center"')
          button.btn-snd(mat-raised-button, color='primary') Confirm
