div([fxLayout]='"row"', [fxLayoutAlign]='"space-around center"')
  mat-card
    mat-card-header.profile([fxLayout]='"column"', [fxLayoutAlign]='"space-around center"') Do a transaction:
    mat-card-content.form
      form.form([formGroup]='transactionsGroup', (ngSubmit)='doTransaction()')
        mat-form-field
          input(matInput, placeholder='Origin Account', [value]='account.accountNumber', formControlName='originAccount', readonly)
        mat-form-field
          input(matInput, placeholder='Target Account', type='number', formControlName='targetAccount')
          mat-error(*ngIf='transactionsGroup.controls.valueMovement.invalid')
            | Account number is not valid
        mat-form-field
          input(matInput, placeholder='Transaction Value', type='number', formControlName='valueMovement')
          mat-error(*ngIf='transactionsGroup.controls.valueMovement.invalid')
            | Transaction value is not valid

        div([fxLayout]='"row"', [fxLayoutAlign]='"start end"')
          button.btn-primary(mat-raised-button, color='primary') Confirm
